.header{
    background-color: rgb(112, 132, 113);
    color:white;
    height: 580px;
    line-height: 460px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainbody{
    background-color: white;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-left:25%;
    margin-right:25%;
}
.jumpto{
    background-color: rgb(234, 234, 234);
    color:black;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.headofrecipe{
    background-color: rgb(112, 132, 113);
    color:white;
    height:200px;
    line-height: 15px;
    font-size: 30px;
    text-align: left;
}
.footer{
    background-color: rgb(234, 234, 234);
    color:rgb(143, 143, 143);
    height: 115px;
    font-size: 20px;
    text-align: center;
    line-height: 120px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.common{
    text-align: left;
}
.text-with-margin{
    margin: 5%;
}
.title{
    text-align: center;
}
.links{
    text-align: center;
}